<!-- Desktop Slider -->
<div class="row">
  <div class="large-12 columns">

  <ul data-orbit="" class="orbit-slides-container">
	    <li>
		     <img src="image/demo1.jpg" />
		     <div class="orbit-caption"></div>
	    </li>
	    <li>
		     <img src="image/demo2.jpg" />
		     <div class="orbit-caption"></div>
	    </li>
	    <li>
		     <img src="image/demo3.jpg" />
		     <div class="orbit-caption"></div>
	    </li>
	    <li>
		     <img src="image/demo4.jpg" />
		     <div class="orbit-caption"></div>
	    </li>
    </ul>
  </div>
 </div>
    <!-- End Desktop Slider -->
<br>

<div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-3 small-6 columns">
          <%= link_to_image("/image/1.jpg", solutions_path) %>
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="image/2.jpg" />
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="image/3.jpg" />
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="image/4.jpg" />
          <h6 class="panel">Description</h6>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>