<!-- Desktop Slider -->
<div class="row">
  <div class="large-12 columns">

  <ul data-orbit="" class="orbit-slides-container">
	    <li>
		     <img src="img/demo1.jpg" />
		     <div class="orbit-caption"></div>
	    </li>
	    <li>
		     <img src="img/demo2.jpg" />
		     <div class="orbit-caption"></div>
	    </li>
	    <li>
		     <img src="img/demo3.jpg" />
		     <div class="orbit-caption"></div>
	    </li>
	    <li>
		     <img src="img/demo4.jpg" />
		     <div class="orbit-caption"></div>
	    </li>
    </ul>
  </div>
 </div>
    <!-- End Desktop Slider -->
<br>

<div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <h6 class="panel">Description</h6>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>